#first_screen{
    h1{
        font-size: 200px;
        color: #DB574D;
    }
    h2{
        font-size: 60px;
        line-height: 110%;
        text-transform: uppercase;
        color: #101010;
    }
}