.first_screen{
    display: flex;
    justify-content: center;
    h1{
        font-size: 200px;
        color: #DB574D;
    }
    h2{
        font-size: 60px;
        line-height: 110%;
        font-weight: 400;
        text-transform: uppercase;
        color: #101010;
    }
    &_item{
        position: absolute;
        top: 100px;
        right: 0;
    }
}