img{
    width: 100%;
}
.page_wrapper_project{
    margin: 0 auto;
    max-width: 1400px;
}
.image_progect{
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: 0 10px 224px;
}
.image_project-foto{
    display: flex;
}
.foto_padding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 175px;
}
.fashion_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.fashion_project-contant{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}
.fashion_project-text{
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
}
.fashion_project-title{
    font-family: 'Clash Display';
    font-weight: 400;
    font-size: 190px;
    line-height: 90%;
    color: #DB574D;
    text-transform: uppercase;
    text-align: center;
}
.fashion_project-foto{
    position: relative;
    z-index: 10;
    top: -90px;
    margin: 0 10px;
}

@media (max-width: 840px) {
.fashion_project-title{
    font-size: 150px;
}
.foto_padding{
    
    margin: 0 50px;
}
}
@media (max-width: 665px) {
.fashion_project-title{
    font-size: 110px;
}
.foto_padding{
    margin: 0 10px;
}
}
@media (max-width: 500px) {
.fashion_project-title{
    font-size: 80px;
}
.fashion_project-text{
    font-size: 50px;
}
.foto_padding{
    margin: 0;
}
.image_project-foto{
    flex-direction: column;
}
.image_progect{
    gap:10px;
}
}